html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #24d000;
}
.active,
h3 {
  color: #24d000;
}
nav a {
  margin-left: 15px;
  font-size: 18px;
}
h5 {
  color: #24d000;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.btn,
.btn-primary {
  background-color: #24d000;
  border-color: #24d000;
}

#rental-header {
  display: none;
}

.carousel-caption {
  background-color: white;
  opacity: 0.7;
}
.carousel-caption p,
h6 {
  font-size: 24px;
  color: #181818;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #c9d4cd;
}

h1 {
  font-size: 24px;
  color: #000b6f;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-size: 0%, 0%;
  border: none;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #000b6f;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #000b6f;
}

center,
label {
  color: #000b6f;
  font-size: 1.5em;
}
