html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav a {
  margin-left: 5px;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #24d000;
}
.active {
  color: #24d000;
}
nav a {
  margin-left: 10px;
}
h5 {
  color: #24d000;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.btn, .btn-primary {
  background-color: #24d000;
  border-color: #24d000;
}

#rental-header {
  display: none;
}

.carousel-caption p,
h6 {
  font-size: 18px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #24d000;
}