<!DOCTYPE html>

<html>
  <head>
    <title>Step 2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      .Labels {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
      }
      td {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <h1>{{display_html}}</h1>

    <h1>{{labels_html[0]}}</h1>

    {% for rows in data1_html %}
    <hr />

    <h2>Kmeans Cluster {{loop.index}}</h2>
    <table class="table">
      <thead>
        <tr>
          {% for item in column_html %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          {% for cols in row %}
          <td style="width: 100px">{{cols}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
