<!DOCTYPE html>

<html>
  <head>
    <title>Step 2</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      .Labels {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
      }
      td {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <h1>{{display_html}}</h1>

    <h2>{{labels_html[0]}}</h2>
    <table class="table">
      <thead>
        <tr>
          {% for item in column_html %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group1DataA_html %}
        <tr>
          {% for data in row %}
          <td>{{ data }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>{{labels_html[1]}}</h2>

    <table class="table">
      <thead>
        <tr>
          {% for item in column_html %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group1DataB_html %}
        <tr>
          {% for data in row %}
          <td>{{ data }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>{{labels_html[2]}}</h2>

    <table class="table">
      <thead>
        <tr>
          {% for item in column_html %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group2DataA_html %}
        <tr>
          {% for data in row %}
          <td>{{ data }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>{{labels_html[3]}}</h2>

    <table class="table">
      <thead>
        <tr>
          {% for item in column_html %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in group2DataB_html %}
        <tr>
          {% for data in row %}
          <td>{{ data }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
