{% extends "base.html" %} {% block styles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="https://datamaps.github.io/scripts/datamaps.world.min.js"></script>
<script src="/static/countries.js"></script>

{% endblock %} {% block content %}


<script>
  var w = 1500;
  var h = 1000;
  // this part should be updated using GET request (get from your backend)
  // input topics as nodes
  // define links as edges, e.g. if you have 5 topics
  // then these topics index are 0, 1, 2, 3, 4

  // get kmeans data from country

    
  $.get(
    "/api/query_survey_results/{{ country_name_html }}",
    function (data, status) {
      var dataObj = JSON.parse(data);
      var dataArr = [];
      var edgeArr = [];
      var source = 0;
      var counter = 0;
      // each item is an kmeans group - with an array of records
      // how do we generate the description?
      dataObj.forEach((item, index) => {
        source = counter;
        dataArr.push({
          name: "GROUP " + (index + 1),
          question_answers: [
            -1,
            "This group of users are from {{ country_name_html }}",
          ],
          color_original: "#ff0000",
          color_hover: "#bf00ff",
        });
        counter++;

        // each element is a row in the table
        item.forEach((element) => {
          dataArr.push({
            name: element[3] + " Age: " + element[2],
            question_answers: [1, element[10]],
            color_original: "#4000ff",
            color_hover: "#00ffff",
          });
          edgeArr.push({ source: source, target: counter });
          counter++;
        });
      });

      var dataset = {
        nodes: dataArr,
        edges: edgeArr,
      };

      console.log(dataset);

      // Constructs a new force-directed layout, used for graph a lot
      var force = d3.layout
        .force()
        // the nodes of a graph
        .nodes(dataset.nodes)
        // the edges of a graph
        .links(dataset.edges)
        // the size of the graph
        .size([w, h])
        .linkDistance([200])
        // the strength of the force
        .charge([-1200])
        // start the force
        // The force layout runs asynchronously. That is, when you call force.start()
        .start();

      // create a svg element
      var svg = d3
        .select("body")
        .append("svg")
        .attr("width", w)
        .attr("height", h);

      // dynamically create graph edges
      var edges = svg
        .selectAll("line")
        .data(dataset.edges)
        // .enter() creates the initial join of data to elements
        // this can be very complex, please use it here for now
        // later we may introduce these type of functions
        .enter()
        .append("line")
        // line color
        .style("stroke", "#ccc")
        // line width
        .style("stroke-width", 1);

      // dynamically create graph nodes
      var nodes = svg
        .selectAll("circle")
        .data(dataset.nodes)
        .enter()
        // circle shape
        .append("circle")
        // radius is 10
        .attr("r", 10)
        // fill colors
        // different from our previous example
        .style("fill", function (d, i) {
          return dataset.nodes[i].color_original;
        })
        // allow users to drag nodes
        .call(force.drag);

      // different from our previous example
      // we define mouseover and mouse out event
      nodes
        .on("mouseover", function (d) {
          // Highlight the nodes
          // nodes.style('fill', d.color_original)
          d3.select(this).style("fill", d.color_hover);
        })
        .on("mouseout", function (d) {
          d3.select(this).style("fill", d.color_original);
        })
        .on("click", function (d, i) {
          console.log(
            "you click on the node:" +
              d.name +
              "; Here is the user story: " +
              d.question_answers[1]
          );
          // you can also redirect the page, if you define a URL for each node
          // window.location.href = d.url;
          // console.log(d.url);
          // d3.select(this).attr('r', 25)
          //         .style("fill","lightcoral")
          //         .style("stroke","red");
        });

      // different from our previous example
      // dynamically create labels
      var label = svg
        .selectAll(".mytext")
        .data(dataset.nodes)
        .enter()
        .append("text")
        .text(function (d) {
          return d.name;
        })
        // where we want to render the label, start | middle | end
        .style("text-anchor", "middle")
        // color
        .style("fill", "#555")
        .style("font-family", "Arial")
        .style("font-size", 12);

      // read this: https://stackoverflow.com/questions/28745398/why-do-we-need-force-ontick-in-d3
      // The tick handler is the function that enables you to get the state of the layout when it has changed
      // (the simulation has advanced by a tick) and act on it -- in particular,
      // redraw the nodes and links where they currently are in the simulation.
      force.on("tick", function () {
        edges
          .attr("x1", function (d) {
            return d.source.x;
          })
          .attr("y1", function (d) {
            return d.source.y;
          })
          .attr("x2", function (d) {
            return d.target.x;
          })
          .attr("y2", function (d) {
            return d.target.y;
          });
        nodes
          .attr("cx", function (d) {
            return d.x;
          })
          .attr("cy", function (d) {
            return d.y;
          });
        label
          .attr("x", function (d) {
            return d.x;
          })
          .attr("y", function (d) {
            return d.y - 10;
          });
      });
    }
  );
</script>

<form action="/api/query_survey_results/<country_name>/<gender>/<age>">
  <label for="gender">Gender:</label>
  <select id="gender">
    <option id="Male">Male</option>
    <option id="Female">Female</option>
  </select>

  <label for="age">Age:</label>
  <select id="age">
    <option id="35 & Under">35 & Under</option>
    <option id="Over 35">Over 35</option>
  </select>
  <input type="submit" value="Submit">
</form>

{% endblock %}