{% set active_page = "history" %}
{% extends "base.html" %} {% block content %}

<form id="history_form" method="post" name="history_form">
  <table class="center">
    <tr>
      <th>Scooter Number</th>
      <th>Date Rented</th>
      <th>Date Returned</th>
    </tr>
    {% for history in history_info|sort(attribute='rent_date', reverse=True) %}
      <tr>
        <td>{{history.scooter_id}}</td>
        <td>{{history.rent_date.strftime('%Y-%m-%d')}}</td>
        <td>{% if history.return_date == None or history.return_date.strftime('%Y-%m-%d') == '2001-01-01' %}
          Not returned
          {%else%}
          {{history.return_date.strftime('%Y-%m-%d')}}
        {%endif%}</td>
      </tr>
    {% endfor %}
  </table>
  </p>
</form>

{% endblock %}
