{% extends "base.html" %} {% block content %} Hello {{current_user.name}}, would
you like to rent a scooter?

<hr />
<div id="buttons">
  <button type="button" id="yes_button" class="btn btn-primary" onClick="displayRentalForm()">
    Yes
  </button>
  <button type="button" class="btn btn-primary" onClick="navigateAway()">Not right now</button></a>
</div>

<form
  id="rental_form"
  method="post"
  name="rental_form"
  style="display: none"
>
  <p>
    {% for rentals in rental_info %} {{rentals.scooter_brand}}<br />
    {%endfor%}
  </p>
  <input type="submit" value="Submit" class="btn btn-primary">

</form>

<script type="text/javascript">
  function displayRentalForm() {
    $("#rental_form").css("display", "block");
  }
  function navigateAway() {
    $("#rental_form").css("display", "block");
  }

  
  // form submit
  $("#rental_form").submit((evt) => {
    evt.preventDefault();
      console.log('form submit');
  });

</script>

{% endblock %}
