{% extends "base.html" %} {% block content %} Hello {{current_user.name}}, would
you like to rent a scooter?

<hr />
<div id="buttons">
  <button type="button" id="yes_button" class="btn btn-primary" onClick="displayRentalForm()">
    Yes
  </button>
  <a href="/"><button type="button" class="btn btn-primary" onClick="navigateAway()">Not right now</button></a>
</div>

<form
  id="rental_form"
  method="post"
  action="/reserve"
  name="rental_form"
  style="display: none"
>
  <div>

    {% for rentals in rental_info %}
     {% set rentalloop = loop %}
  <input type="radio" id="{{loop.index}}" name="choice" value="{{rentals.scooter_id}}">
  <label for="{{loop.index}}">{{rentals.scooter_brand}}, Location: {{rentals.location}}</label>
  <br />
  {%endfor%}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">

</form>

<script type="text/javascript">
  function displayRentalForm() {
    $("#rental_form").css("display", "block");
  }
  function navigateAway() {
    $("#rental_form").css("display", "none");
  }

  
  // form submit
  $("#rental_form").submit((evt) => {
    evt.preventDefault();
      console.log('form submit');
  });

</script>

{% endblock %}
